In [4]:
import pandas as pd
import datetime

df = pd.read_excel(
    "данные для задания.xlsx", sheet_name="Кредитный портфель", skiprows=6
)
df.head()

,Валюта,Направление кредитования,ID клиента,ID сделки,Тип сделки,ID фин.операции,Наличие субсидии Да/Нет,Портфель
0,RUB,Финансирование импорта,10000162059,10003403968,КредЛиния,10000000632,да,импорт
1,RUB,NaN,10000162059,10003403968,Транш,10000000633,да,нет
2,RUB,Предэкспортное финансирование,10000160314,10003404118,КредЛиния,10000000632,да,экспорт
3,RUB,NaN,10000160314,10003404118,Транш,10000000633,да,нет
4,RUB,Финансирование импорта,10000162507,10003404121,КредЛиния,10000000632,да,импорт

In [12]:
# Заполнение пустых ячеек, и замена данных в ячейках
df.fillna({"Направление кредитования": "прочее"}, inplace=True)
df.replace("нет", {"Портфель": "экспорт"}, inplace=True)
df.head()

,Валюта,Направление кредитования,ID клиента,ID сделки,Тип сделки,ID фин.операции,Наличие субсидии Да/Нет,Портфель
0,RUB,Финансирование импорта,10000162059,10003403968,КредЛиния,10000000632,да,импорт
1,RUB,прочее,10000162059,10003403968,Транш,10000000633,да,экспорт
2,RUB,Предэкспортное финансирование,10000160314,10003404118,КредЛиния,10000000632,да,экспорт
3,RUB,прочее,10000160314,10003404118,Транш,10000000633,да,экспорт
4,RUB,Финансирование импорта,10000162507,10003404121,КредЛиния,10000000632,да,импорт

In [6]:
from dateutil.relativedelta import relativedelta
input_year = 2027
end_data = datetime.datetime.now().strftime(f"%m.{input_year}")
end_data = datetime.datetime.strptime(end_data, "%m.%Y")
today = datetime.datetime.now().strftime("%m.%Y")
today = datetime.datetime.strptime(today, "%m.%Y")

number_month = (end_data.year - today.year) * 12 + (end_data.month - today.month)
date_list_ost = []
date_list_plan = []

# Создание копии DataFrame
df_dates = df.copy(deep=True)

# Добавление новых столцов в DataFrame
dates_ost = []
for elem in range(number_month):
    new_date = today + relativedelta(months=elem)
    new_date = new_date.strftime("%m.%Y")
    dates_ost.append(f'Остаток Погашения руб. {new_date}')
    df_dates[f'Остаток Погашения руб. {new_date}'] = 0
    df_dates[f'План погашения руб. {new_date}'] = 0

In [7]:

# Агрегировать данные в разрезе: "Портфель", "Наличие субсидии Да/Нет" (вместе)

aggregate_inform = df_dates[df_dates["Тип сделки"] == "КредЛиния"]
aggregate_inform = aggregate_inform.groupby(['Портфель', 'Наличие субсидии Да/Нет'])[dates_ost]
aggregate_inform = aggregate_inform.sum().reset_index()
aggregate_inform

,Портфель,Наличие субсидии Да/Нет,Остаток Погашения руб. 08.2024,Остаток Погашения руб. 09.2024,Остаток Погашения руб. 10.2024,Остаток Погашения руб. 11.2024,Остаток Погашения руб. 12.2024,Остаток Погашения руб. 01.2025,Остаток Погашения руб. 02.2025,Остаток Погашения руб. 03.2025,...,Остаток Погашения руб. 10.2026,Остаток Погашения руб. 11.2026,Остаток Погашения руб. 12.2026,Остаток Погашения руб. 01.2027,Остаток Погашения руб. 02.2027,Остаток Погашения руб. 03.2027,Остаток Погашения руб. 04.2027,Остаток Погашения руб. 05.2027,Остаток Погашения руб. 06.2027,Остаток Погашения руб. 07.2027
0,Прочее финансирование,да,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,импорт,да,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,импорт,нет,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,экспорт,да,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,экспорт,нет,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Найти путь к рабочему столу

import os

desktop_path = os.path.join(os.path.expanduser("~"), "Desktop")
date_now = datetime.datetime.now().strftime("%d-%m-%Y_%H:%M:%S")
path_to_file = os.path.join(desktop_path, f"report_{date_now}.xlsx")
path_to_file

'/home/nikita/Desktop/report_13-08-2024_00:53:12.xlsx'

In [9]:
# Сохранить аггрегированные данные на раб. столе в формате excel
aggregate_inform.to_excel(path_to_file, index=False)

In [10]:
# 4 - Получить курсы валют по текущему дню с сайта ЦБРФ: "Доллар США", "Евро", "Китайский юань"
valutes = ['Доллар США', 'Евро', 'Китайский юань']
url1 = 'http://www.cbr.ru/scripts/XML_daily.asp'
cbrf_df = pd.read_xml(url1, encoding='cp1251')
cbrf_df = cbrf_df[cbrf_df['Name'].isin(valutes)]


cbrf_df['Value'] = cbrf_df['Value'].str.replace(',', '.').astype(float)
cbrf_df[["Name", "Value"]]

              Name    Value
13      Доллар США  89.9475
14            Евро  96.6852
22  Китайский юань  11.8576

In [11]:
# Заполнение пустых ячеек, и замена данных в ячейках
from sqlalchemy import create_engine, text

engine = create_engine('postgresql://admin:admin@localhost:5432/my_db_name')

# Удаление таблицы если она существует и создание в замен ее, новой таблицы
table_name = 'finance_table'
with engine.connect() as conn:
    stmt = text(f"DROP TABLE IF EXISTS {table_name};")
    conn.execute(stmt)
    conn.commit()

df_dates.to_sql(table_name, engine, if_exists='replace', index=False)

115